:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  place-items: center;
  min-height: 100vh;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
  background-image: url('./assets/retrosupply-jLwVAUtLOAQ-unsplash.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: initial;
  background-size: cover;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, .6);
}

.containerBlogs{
  border: 1px red solid;
  width: 100vw;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
#btnCreate{
  display: flex;
  justify-content: center;
  margin: 1rem;
}

#loginForm{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#cancelBtnForm{
  display: flex;
  flex-direction: column;
}

#cancelBtnForm>button{
  width: 20%;
  align-self: center;
  margin-bottom: 1rem;
}

#username{
  width: 20rem;
}

#password{
  width: 20rem;
}

.headerUser{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.navBar{
  display: flex;
  gap: 1rem;
}

#addBlogForm{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}

.infoBlog{
  gap: 2rem;
}

.individualBlog{
  cursor: pointer;
}

.individualBlog>Link{
  color: rgba(255, 255, 255, 0.87);
}

.linkColor{
  color: rgba(255, 255, 255, 0.87);
}

.individualBlog:hover{
  color: #747bff;
}

#colorList{
  background-color: transparent;
  color: silver;
  display: flex;
  flex-direction: column;
  border: solid;
}

#tableUsers{
  background-color: transparent;
  color: silver;
}

.authorBlog{
  cursor: pointer;
}

.authorBlog:hover{
  color: #747bff;
}

.containerViewBlog{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}

.containerBtnsView{
  display: flex;
  gap: 2rem;
}

.containerInfoBlog{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.listDetails{
  list-style: none;
  padding: 0;
}
.listDetails>li{
  margin-top: 1rem;
}
.listDetails>li>button{
  padding: 0.1rem;
  margin-bottom: .2rem;
}

.containerComments{
  border: red 1px solid;
  width: 60%;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
