#root {
  margin: 0 auto;
  text-align: center;
}

.containerApp{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

.containerHeader{
  margin: 0;
  width: 100vw;
  background-color: #2f9c8a;
  
}

.links{
  color:  rgba(255, 255, 255, 0.87);
}

.links:hover{
  color: #CBDDB5;
}

.containerList{
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  padding: 0;
  align-items: center;
  height: 100%;
}

.ulAnecdotes{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  width: 60%;
}

#colorList{
  background-color: transparent;
  color: rgba(255, 255, 255, 0.87);
  display: flex;
  flex-direction: column;
  border: solid;
  cursor: pointer;
  font-size: 1.5rem;
}

#colorList:hover{
  color: #a6c74c;
}


#addAnecdoteForm{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin-top: 2rem;
  gap: 2rem;
  width: 70%;
  
}
.containerBtnsForm{
  display: flex;
}

#btnForm{
  color: rgba(255, 255, 255, 0.87);;
}
#title:focus{
  border: #a6c74c 4px solid; 
}
#author:focus{
  border: #a6c74c 4px solid;
}
#url:focus{
  border: #a6c74c 4px solid;
}

.containerDetail{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 2rem;
  height: 100%;
}

.containerFooter{
  background-color: #2f9c8a;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  width: 100vw;
}

.externalLinks{
  color: #a6c74c;
}
